.prev-btn::after,
.next-btn::after {
  font-size: 28px !important;
}


.prev-btn,
.next-btn {
  width: 33px;
  height: 33px;
  color: white;
  background-color: #0284c7;
  border-radius: 9999px;
  z-index: 50;
}


@media screen and  (max-width: 768px) {
  .prev-btn,
  .next-btn {
    display: none !important;
  }
}
